body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";

  }
  
  a {
    text-decoration: none;

  }
  header {
    height: 60px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.8);
    position:fixed;
    top:0;
    z-index:10;
  }